// @import 'templates/react/_partial/var-color';
// @import 'templates/react/_partial/var-size';

// .questionaire {
// 	background: $red url(/img/spinner.gif) center no-repeat;
// }

.content {
	h2 {
		font-size: 24px;
		font-weight: 500;
	}
	ul {
		padding: 0px;
		margin-bottom: 100px;
		.group-name {
			padding: 0px 20px;
		}
		li {
			list-style: none;
			margin-top: 20px;

			.parent-question{
				padding: 0px 10px;
				.question {
					margin-bottom: 48px;
					text-align: center;
					h2 {
						text-align: center;
						@media screen and (min-width: 768px) {
							text-align: left;
						}
					}

				}

				.options {
					display: flex;
					// flex-direction: row
					flex-flow: row wrap;
					justify-content: space-around;;
					.item-list-question {
						box-sizing: border-box;
						display: inline-block;
						margin: 10px;
						@media screen and(min-width: 768px) {
							width: 156px;
						}
						.body_shape_content {}
						.body_shape_desc {
							flex-direction: row;
							margin: 15px 0px;
							span {
								display: inline-block;
								&.checkmark {
									width: 24px;
									height: 24px;
									border: 1px solid #ddd;
									border-radius: 50%;
									margin-right: 10px;

									&::after {
										content:'';
										left: 7px;
										top: 3px;
										width: 5px;
										height: 10px;
										border: solid black;
										border-width: 0 3px 3px 0;
										-webkit-transform: rotate(45deg);
										transform: rotate(45deg);
										position: absolute;
									}

									&:focus {

									}
								}


							}

							.name-choice-img {
								line-height: 24px;
							}
						}
					}
				}
			}

			.child-question {
				padding: 0px 10px;

				.sub-question {
					h3 {
						font-size: 16px;
						line-height: 24px;
						color: rgba(15, 15, 20, 0.5);
						font-weight: 400;
						text-align: center;
						@media screen and(min-width: 768px) {
							text-align: left;
						}
					}
				}
				.link-question {
					padding: 20px 0;
					a {
						text-align: center;
						color: rgb(91,91,255);
						@media screen and(min-width: 768px) {
							text-align: left;
						}
					}
				}
				table {
					border-top: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					tr {
						td {
							padding: 10px;
							border-right: 1px solid #ddd;
							vertical-align: middle;
							&:last-child{
								border-right: none;
							}
							span {
								color: rgba(15,15,15,0.7)

							}
							h2 {
								font-size: 34px;
								font-weight: 600;
							}
						}
					}
				}
			}

			.call-to-action {
				position: fixed;
				bottom: 0px;
				width: 100%;
				a {
					padding: 20px 24px;
					background: rgb(244,229,255);
					font-weight: 500;
					img {
						float: right;
					}
				}
			}
		}
	}
}
